.swiper-button-next,
.swiper-button-prev {
   background-color: orangered;
    padding: 0 1.3rem;
    border-radius: 50%;
    z-index: 1000;
}
.swiper-button-prev:after,
.swiper-button-next::after
{
    font-size: 1rem !important;
    color: white;
    font-weight: 600;
}

/* .swiper{
    z-index: -1 !important;
} */