.cutoff{
    --maxlin:2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--maxlin);
    height: 2.2rem;
}
.product_title{
    --maxlin:1;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--maxlin);
}

@media screen and (max-width:768px) {
    .mar{
        margin: 4rem 1rem 1rem 1rem;
    }
}
@media screen and (max-width:440px) {
    .cardxx{
        flex-basis: 50% !important;
        padding: 1rem .5rem !important;
    }
    .shadowme:hover{
        box-shadow: 1px 1px .3rem rgba(0, 0, 0, .7);
    }
}