*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  width: .6rem;
  
}
::-webkit-scrollbar-track{
  background-color: rgb(236, 235, 235);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(44, 96, 44);
  border-radius: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind components;
@tailwind utilities;
@tailwind base;


html{
  overflow-x: hidden;
}

@media screen and (max-width:620px) {
  html{
    font-size: 85%;
  }
}